.ContactInfo{
     color:  rgb(173, 173, 173);
}
.Number {
    color: rgb(24, 120, 230);
}
.id{
    color: rgb(24, 120, 230);
}
.wname{
    color: rgb(24, 120, 230);
}
.BasicInfo{
    color:  rgb(173, 173, 173);
}