.person-designation {
  color: rgb(24, 120, 230);
}
.ranking {
  margin-bottom: 10px;
  color: rgb(133, 133, 133);
  font-size: 10px;
}

.ratings {
  color: rgb(24, 120, 230);
  transform: translateX(10%);
}
.contacts {
  background-color: rgb(223, 238, 250);
  color: rgb(24, 120, 230);
  padding: 6px;
  font-weight: 300;
  margin-left: 15px;
  font-size: 13px;
  width: 45px;
  align-items: center;
}
.icons {
  flex-direction: row;
}
.timeline {
  flex-direction: row;
}
.ContactInfo{
    color:  rgb(173, 173, 173);
}
.Number {
   color: rgb(24, 120, 230);
}
.id{
   color: rgb(24, 120, 230);
}
.wname{
   color: rgb(24, 120, 230);
}
.BasicInfo{
   color:  rgb(173, 173, 173);
}