.main{
    display:flex;
    height:100vh;
    flex-direction:row;
}
.links{
   display:flex;
   transform:translateX(1500%);
   gap:10px;
   border:2px solid black;
   transform:translateZ(100%);
   transform:translateY(-10%);
   align-items: center;
}
.text {
  width: 100%;
  height: 50%;
  transform: translateY(9%);
}
.logo {
margin-top: 6px;
margin-right: 900px;
transform:translateX(-800%);
margin-left: 90px;
margin-bottom:10px;
}
.search{
  transform:translateX(250%);
  transform:translateZ(-950%);
}